table {
  border-collapse: collapse;
}

th {
  text-align: inherit;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #5e6e82;
}

.table th,
.table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #edf2f9;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #edf2f9;
}

.table tbody + tbody {
  border-top: 2px solid #edf2f9;
}

.table-sm th,
.table-sm td {
  padding: 0.3rem;
}

.table-bordered {
  border: 1px solid #edf2f9;
}

.table-bordered th,
.table-bordered td {
  border: 1px solid #edf2f9;
}

.table-bordered thead th,
.table-bordered thead td {
  border-bottom-width: 2px;
}

.table-borderless th,
.table-borderless td,
.table-borderless thead th,
.table-borderless tbody + tbody {
  border: 0;
}

.table-striped tbody tr:nth-of-type(even) {
  background-color: #f9fafd;
}

.table-hover tbody tr:hover {
  color: #5e6e82;
  background-color: rgba(0, 0, 0, 0.075);
}

.table-primary,
.table-primary > th,
.table-primary > td {
  background-color: #c4daf8;
}

.table-primary th,
.table-primary td,
.table-primary thead th,
.table-primary tbody + tbody {
  border-color: #91baf1;
}

.table-hover .table-primary:hover {
  background-color: #adccf5;
}

.table-hover .table-primary:hover > td,
.table-hover .table-primary:hover > th {
  background-color: #adccf5;
}

.table-secondary,
.table-secondary > th,
.table-secondary > td {
  background-color: #d8dce1;
}

.table-secondary th,
.table-secondary td,
.table-secondary thead th,
.table-secondary tbody + tbody {
  border-color: #b7bdc7;
}

.table-hover .table-secondary:hover {
  background-color: #cacfd6;
}

.table-hover .table-secondary:hover > td,
.table-hover .table-secondary:hover > th {
  background-color: #cacfd6;
}

.table-success,
.table-success > th,
.table-success > td {
  background-color: #b8f2da;
}

.table-success th,
.table-success td,
.table-success thead th,
.table-success tbody + tbody {
  border-color: #7ae8ba;
}

.table-hover .table-success:hover {
  background-color: #a2eecf;
}

.table-hover .table-success:hover > td,
.table-hover .table-success:hover > th {
  background-color: #a2eecf;
}

.table-info,
.table-info > th,
.table-info > td {
  background-color: #c3ecfe;
}

.table-info th,
.table-info td,
.table-info thead th,
.table-info tbody + tbody {
  border-color: #8fdcfe;
}

.table-hover .table-info:hover {
  background-color: #aae4fe;
}

.table-hover .table-info:hover > td,
.table-hover .table-info:hover > th {
  background-color: #aae4fe;
}

.table-warning,
.table-warning > th,
.table-warning > td {
  background-color: #fcdbc9;
}

.table-warning th,
.table-warning td,
.table-warning thead th,
.table-warning tbody + tbody {
  border-color: #fabd9b;
}

.table-hover .table-warning:hover {
  background-color: #fbcbb1;
}

.table-hover .table-warning:hover > td,
.table-hover .table-warning:hover > th {
  background-color: #fbcbb1;
}

.table-danger,
.table-danger > th,
.table-danger > td {
  background-color: #f8c7d0;
}

.table-danger th,
.table-danger td,
.table-danger thead th,
.table-danger tbody + tbody {
  border-color: #f297a8;
}

.table-hover .table-danger:hover {
  background-color: #f5b0bd;
}

.table-hover .table-danger:hover > td,
.table-hover .table-danger:hover > th {
  background-color: #f5b0bd;
}

.table-light,
.table-light > th,
.table-light > td {
  background-color: #fdfefe;
}

.table-light th,
.table-light td,
.table-light thead th,
.table-light tbody + tbody {
  border-color: #fcfcfe;
}

.table-hover .table-light:hover {
  background-color: #ecf6f6;
}

.table-hover .table-light:hover > td,
.table-hover .table-light:hover > th {
  background-color: #ecf6f6;
}

.table-dark,
.table-dark > th,
.table-dark > td {
  background-color: #bbbec3;
}

.table-dark th,
.table-dark td,
.table-dark thead th,
.table-dark tbody + tbody {
  border-color: #80868f;
}

.table-hover .table-dark:hover {
  background-color: #adb1b7;
}

.table-hover .table-dark:hover > td,
.table-hover .table-dark:hover > th {
  background-color: #adb1b7;
}

.table-active,
.table-active > th,
.table-active > td {
  background-color: rgba(0, 0, 0, 0.075);
}

.table-hover .table-active:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

.table-hover .table-active:hover > td,
.table-hover .table-active:hover > th {
  background-color: rgba(0, 0, 0, 0.075);
}

.table .thead-dark th {
  color: #fff;
  background-color: #232e3c;
  border-color: #314154;
}

.table .thead-light th {
  color: #0b1727;
  background-color: #edf2f9;
  border-color: #edf2f9;
}

.table-dark {
  color: #fff;
  background-color: #232e3c;
}

.table-dark th,
.table-dark td,
.table-dark thead th {
  border-color: #314154;
}

.table-dark.table-bordered {
  border: 0;
}

.table-dark.table-striped tbody tr:nth-of-type(even) {
  background-color: rgba(255, 255, 255, 0.05);
}

.table-dark.table-hover tbody tr:hover {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.075);
}

.table tfoot > tr > th:first-child,
.table thead > tr > th:first-child,
.table tr th:first-child,
.table tr td:first-child {
  padding-left: 1.25rem;
}

.white-space-nowrap {
  width: 1px;
  white-space: nowrap;
}

th {
  font-weight: 600;
}

td .dropdown-toggle:after {
  display: none;
}

.table-dashboard {
  overflow: hidden;
}

.table-dashboard th {
  border-bottom-width: 1px !important;
}

@media (max-width: 575.98px) {
  .table-responsive-sm {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .table-responsive-sm > .table-bordered {
    border: 0;
  }
}

@media (max-width: 767.98px) {
  .table-responsive-md {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .table-responsive-md > .table-bordered {
    border: 0;
  }
}

@media (max-width: 991.98px) {
  .table-responsive-lg {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .table-responsive-lg > .table-bordered {
    border: 0;
  }
}

@media (max-width: 1199.98px) {
  .table-responsive-xl {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .table-responsive-xl > .table-bordered {
    border: 0;
  }
}

@media (max-width: 1539.98px) {
  .table-responsive-xxl {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .table-responsive-xxl > .table-bordered {
    border: 0;
  }
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.table-responsive > .table-bordered {
  border: 0;
}
