body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
}

#bulk-register-main-content {
  flex-grow: 1;
}

.page-header-container {
  max-width: 1400px;
  width: 96%;
  margin: 0 auto;
  border-bottom: 1px solid rgb(131, 131, 131);
  padding: 15px 0;
}

#page-header-title {
  font-size: 1.3rem;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

.second-border {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  /* background-color: antiquewhite; */
  box-sizing: border-box;
  /* width: 92%; */
  max-width: 1000px;
}

.upper-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link-place {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.file-name {
  color: black;
  text-decoration: none;
}

.button-place {
  justify-content: flex-end !important;
  flex: 1;
  height: fit-content;
  /* border: 1px dotted black; */
  display: flex;
}

#btn-edit {
  width: 265.4px;
  margin: 0px !important;
}

.search-N-sort-components-container {
  margin-top: 20px;
  margin-bottom: 20px;
  /* background-color: antiquewhite; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid #a1a1a1; */
}

.sort-input-edited {
  flex-direction: row;
  align-items: center;
  padding: 0;
}

.sort-input-edited > label {
  margin-right: 10px;
}

.custom-select-edited {
  margin: 0;
  width: 265.4px;
}

.search-component-container,
.sort-component-container {
  flex: 1;
  /* border: 1px solid #660808; */
}

.sort-component-container {
  /* background-color: rgb(132, 112, 86); */
  display: flex;

  justify-content: flex-end;
}

.ug-search-input-wrapper > input,
.ug-search-input-wrapper > button {
  height: 1.4rem;
}

.ug-search-input-wrapper > input {
  border: none;
  outline: none;
  padding: 0 5px;
  width: 240px;
}

.ug-search-input-wrapper > button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.4rem;
  border-radius: 3px;
  border: none;
  outline: none;
  background-color: #c4c4c4;
}

.ug-search-input-wrapper {
  display: flex;
  align-items: center;
  border: 1px solid #a1a1a1;
  width: fit-content;
  padding: 2px;
  border-radius: 5px;
}

/* Table content starts from here */

.content-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  /* width: 92%; */
  max-width: 1000px;
}

.bulk-register-headers-container {
  width: 100%;
  display: flex;
  font-weight: 500;
  border-bottom: 1px solid rgb(201, 201, 201);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  /* background-color: #a09191 !important; */
}

.bulk-register-container {
  width: 100%;
}

.bulk-register-info {
  width: 100%;
  height: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid rgb(201, 201, 201);
  padding: 10px;
  /* background-color: #f1c3c3 !important; */
  /* padding: 0 10px; */
}

.btn-edit {
  background-color: #ff635b !important;
  border-color: #ed534b !important;
}

.block-a {
  flex: 1;
}

.block-b {
  flex: 1;
}

.block-c {
  flex: 1.5;
}

.block-d {
  flex-basis: 150px;
}

.block-a,
.block-b,
.block-c,
.block-d {
  text-align: left !important;
  vertical-align: middle !important;
  height: 100%;
  align-self: center;
  /* border: 1px dotted red; */
}

.block-title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 0.8rem;
  white-space: nowrap;
  flex: 1;
  /* margin-bottom: 2px; */
}

@media only screen and (min-width: 900px) {
  .block-title {
    display: none;
  }
}

/* @media only screen and (max-width: 330px) {
  .wrapper {
    margin: 10px !important;
  }
} */

@media only screen and (max-width: 818px) {
  .upper-container,
  .search-N-sort-components-container {
    flex-direction: column;
    align-items: flex-end;
    /* border: 1px solid red; */
  }

  .link-place,
  .search-component-container {
    margin-bottom: 15px;
  }

  .sort-input-edited {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
  }

  /* Table content */
  .block-d {
    padding-top: 10px;
  }
}

@media only screen and (max-width: 900px) {
  /* Table content */
  .bulk-register-headers-container {
    display: none;
  }

  .bulk-register-info {
    display: flex;
    flex-direction: column;
  }

  .block-a,
  .block-b,
  .block-c,
  .block-d {
    width: 100%;
    /* background-color: #9ec2f3; */
    flex-basis: 0;
    height: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    display: flex;
    align-items: flex-start;
  }

  .block-d {
    /* padding-top: 10px; */
    text-align: right !important;
  }

  .block-a > p,
  .block-b > p,
  .block-c > p,
  .block-d > p {
    flex: 4;
  }

  .block-title {
    flex-basis: 90px !important;
    min-width: 90px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
  }
}
