body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.wrapper {
    width: 80%;
    max-width: 1000px;
    height: 100% !important;
    margin: 0 auto;
    height: fit-content;
    /* border: 1px dotted red; */
    transition: all 0.2s ease;
}
  
.section {
    width: 100%;
}

.content-path-display{
    width: 100%;
    /* min-height: 50px; */
    padding: 7px 12px;
    height: fit-content;
    background-color: #0FAF51;
    /* background-color: rgb(52, 199, 89); */
    border-radius: 5px;
    margin-top: 4vh;
    margin-bottom: 6vh;
}

.content-path{
    color: white;
  font-family: "Poppins", sans-serif;

}

.info-items-container{
    /* background-color: #d3d3d3; */

}


.info-item-container > * {
  font-family: "Poppins", sans-serif;
}

.info-item-container{
    width: 100%;
    height: fit-content;
    padding: 10px 12px;
    border-bottom: 1px solid rgb(220, 220, 220);
    display: flex;
    align-items: flex-start;
}


.first-node{
    border-top: 1px solid rgb(220, 220, 220);

}

.last{
    margin-bottom: 10vh;
}


.info-item-title{ 
    flex-basis: 100px;
    /* background-color: honeydew; */
    margin-right: 20px;
}

.info-item-content{
    flex: 1;
    /* background-color: ivory; */
   
}



.info-item-content > a{
    text-decoration: none;
    font-style: italic;
    white-space: nowrap;
}

.add-space-with-comma{
    margin-right: 10px;
}


.footer{
    margin-top: auto;
}

/*===============================================================================*/



@media only screen and (max-width: 768px) {
    .wrapper {
      width: 92%;
      /* border: 1px solid blue; */
    }
  }
