.wrapper {
  width: 80%;
  max-width: 1000px;
  /* height: 100% !important; */
  margin: 0 auto;
  height: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  /* border: 1px dotted red; */
  transition: all 0.2s ease;
}

.section {
  width: 100%;
}

/* .nav {
  height: 60px;
  background-color: rgb(53, 53, 53);
} */

.main-section-wrapper{
  display: flex;
  flex-direction: column;
}

.main-section-devider-top{
  /* border: 1px solid red; */
}

.main-section-devider-bottom{
  flex: 1;
  min-height: fit-content;
  /* max-height: 200px; */
  /* border: 1px solid rgb(72, 127, 236); */
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 4vh;
  padding-top: 1.2vh;
}


/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */

.custom-shape-divider-top-1629808668 {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }
  
  .custom-shape-divider-top-1629808668 svg {
    position: relative;
    display: block;
    width: calc(125% + 1.3px);
    height: 173px;
  }
  
  .custom-shape-divider-top-1629808668 .shape-fill {
    /* fill: #eaedf8; */
    fill: #dbe8fc;
  }

.nav{
    width: 100%;
    height: 60px;
    background-color: rgb(68, 68, 68);
    position: sticky;
    top: 0;
    z-index: 100;
}

.banner{
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    /* background-color: antiquewhite; */
    min-height: fit-content;

    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
}

.bannerX{
    /* border: 1px solid rgb(0, 42, 255); */


}


.top{
    width: 100%;
    /* min-height: 300px; */
    flex: fit-content;
    /* background-color: rgb(105, 105, 105); */
    /* min-height: 500px; */
    /* padding: 3vh; */
    padding-top: 4vh;
    padding-bottom: 3vh;
}

.middle{
    width: 100%;
    min-height: 100px;
    flex: 1;
    /* background-color: rgb(171, 171, 171); */
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 0 3vh; */
}


/* ==================================== */

.main-searchbox-container {
    width: 100%;
    height: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    /* background-color: rosybrown; */
    padding-top: 40px;
    display: flex;
    align-items: flex-start;
  }
  
  .search-N-advanced-search-btn-container {
    display: flex;
    flex-direction: column;
    flex-basis: 150px;
    align-items: center;
  }
  
  #main-searchbox-input {
    flex: 1;
    margin-right: 10px;
    font-size: 1.4rem;
    height: 50px;
    border-radius: 30px;
    padding: 10px 30px;
    outline: none;
    border: 1px solid rgb(161, 161, 161);
    border: 2px solid #5492ed;
  }
  
  #main-search-input:active {
    border: 2px solid rgb(83, 136, 250);
  }
  
  #main-search-btn {
    /* flex-basis: 100px; */
    height: 50px;
    border-radius: 30px;
    border: none;
    background-color: #5492ed;
    width: 100%;
    color: white;
    font-size: 1.4rem;
    cursor: pointer;
  }
  
  #main-search-btn:hover {
    background-color: #6ba4fa;
  }
  
  #main-advanced-search-btn {
    margin-top: 20px;
    color: black;
    font-size: 0.875rem;
    white-space: nowrap;
    font-family: "Poppins", sans-serif;
  
  }

/* ========================================= */


.bottom{
    width: 100%;
    min-height: 15vh;
    /* background-color: rgb(206, 206, 206); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding: 0 3vh; */
}

.down-animated-arrow{
  width: 40px;
  height: 40px;
  margin-top: 30px;
  margin-bottom: 15px;
  display: none;
  align-items: center;
  justify-content: center;
}

.down-animated-arrow > i{
  animation: down-arrow-animation infinite 1.5s;
  color: #5492ed;
  filter: drop-shadow(1px 2px 1px rgba(0, 0, 0, 0.2));
}

@keyframes down-arrow-animation{
  0%, 20%, 50%, 80%, 100%{
    transform: translateY(0) scale(1.6);
  }
  40%{
    transform: translateY(5px) scale(1.6); 
  }
  60%{
    transform: translateY(3px) scale(1.6);
  }
}


.logo{
    width: 60px;
    height: 60px;
    background-color: bisque;
    border: 1px solid black;
    margin-bottom: 4vh;
}

.top > h1 {
    margin-bottom: 2vh;
}

.banner-section-container{
    display: flex;
    align-items: center;
}

.banner-section-container-text{
    flex: 2;
    /* border: 1px dotted red; */
    padding-right: 60px;
    position: relative;
    z-index: 70;
}

#banner-logo {
  width: 70px;
  margin-right: 10px;
}

#title{
    font-size: 1.8rem;
  font-weight: 700;
  white-space: nowrap;
  font-family: "Poppins", sans-serif;
}

#description{
  text-align: justify;
  font-family: "Poppins", sans-serif;
}

.bottom > p {
  text-align: center;
  font-family: "Poppins", sans-serif;
/* font-weight: 500; */
}

.bold-text {
  font-weight: 500;
  font-size: 1rem;
  font-style: italic;
  /* font-family: "Roboto", sans-serif; */
}

.title-N-logo-container{
    display: flex;
    align-items: center;
    margin-bottom: 5vh
}

.banner-section-container-img {
    flex: 1;
    background-image: url("./../../assets/home/ebook.svg");
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 350px;
    max-height: 350px;
    /* border: 1px dotted red; */
    position: relative;
    z-index: 70;
  }



/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */












/*==================================== C O N T E N T   S E C T  I O N =============================================*/

.contents {
  min-height: fit-content;
  background-color: rgb(251, 251, 251);
  padding-bottom: 60px;
}

.section-title {
  width: 100%;
  /* background-color: antiquewhite; */
  font-size: 1.8rem;
  font-weight: 700;
  /* padding-bottom: 60px; */
  padding: 60px 0;
  padding-left: 10px;
  font-family: "Poppins", sans-serif;
  

}


.modify-section-title{
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(218, 218, 218);
  margin-bottom: 20px;
}

.section-title-container{
  display: flex;
  align-items: center;
  /* border: 1px solid red; */
}

.view-all-communities{
  text-decoration: none;
  color: #797979;
  font-weight: 600;
  white-space: nowrap;
  font-family: "Poppins", sans-serif;
  padding-right: 10px;
}

.view-all-communities-container-bottom{
  width: 100%;
  height: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  padding-top: 40px;
  display: none;
}

.contents-grid {
  width: 100%;
  height: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  /* background-color: antiquewhite; */
  display: flex;
  flex-wrap: wrap;
}

.content-item-container {
  flex-basis: calc(100% / 3);
  min-height: 160px;
  /* border: 1px dotted black; */
  padding: 10px;
}

.content-item {
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  /* border: 1px dotted rgb(185, 185, 185); */
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  box-shadow: 2px 2px 6px 0px rgba(31, 31, 31, 0.2);
}

.content-item-pattern {
  width: 15%;
  height: 100%;
  background-color: rgb(199, 199, 199);
  background-image: linear-gradient(to bottom, #bcd7ff, #e9f2ff);
}

.content-item-text {
  flex: 1;
  height: 100%;
  padding: 12px;
  display: flex;
  flex-direction: column;
}

.content-item-title {
  font-weight: 700;
  /* font-family: "Poppins", sans-serif; */
  font-family: "Roboto", sans-serif;
  /* margin-bottom: 10px; */
  /* background-color: bisque; */
}

.content-item-description {
  font-size: 0.75rem;
  /* font-family: "Poppins", sans-serif; */
  font-family: "Roboto", sans-serif;
  /* background-color: rgb(252, 207, 152); */
  margin: 10px 0;
}

.content-item-view-more {
  flex: 1;
  width: 100%;
  text-align: right;
  /* background-color: rgb(255, 182, 93); */
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.content-item-view-more-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.content-item-view-more-link > i {
  margin-left: 10px;
  transform: scale(1);
}

/* .view-more-link {
  display: flex;
  align-items: center;
}

.view-more-link > i {
  margin-left: 10px;
  transform: scale(1.2);
} */

.line-clamp {
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  position: relative;
  line-height: 1.2;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 !important;
}

.line-clamp:after {
  content: "...";
  text-align: right;
  bottom: 0;
  right: 0;
  width: 25%;
  display: block;
  position: absolute;
  height: calc(1em * 1.2);
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1) 75%
  );
}

@supports (-webkit-line-clamp: 1) {
  .line-clamp:after {
    display: none !important;
  }
}

.line-clamp-x-description {
  -webkit-line-clamp: 3;
  height: calc(1em * 1.2 * 3);
}

/*=================================== E B O O K S  C A R D S   S E C T I O N ==================================================*/
.popular-items {
  min-height: fit-content;
  background-color: rgb(255, 255, 255);
  padding-bottom: 60px;
}

/*========================================= C A R O U S E L   S L I D E R =======================================================*/

.carousel-slider-container{
  max-width: 1440px;
  width: 100%;
  height: 286px;
  /* border: 1px solid rgb(238, 84, 84); */
  display: flex;
  align-items: center;
}

.button-container{
  width: 50px;
  height: 100%;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-container > button{
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-color: rgb(231, 231, 231);
  font-weight: bolder;
  outline: none;
  border: 1px solid rgb(197, 197, 197);
  border-radius: 50%;
  color: rgb(99, 99, 99);
  transition: background-color 0.2s ease;
}

.button-container > button:hover{
 
  background-color: rgb(212, 212, 212);
  
}

.carousel-content-container{
  flex: 1;
  height: 100%;
  background-color: rgb(255, 255, 255);
  position: relative;
  overflow:hidden;
  /* border: 1px solid rgb(39, 163, 224); */

}

.carousel-content{
  position: absolute;
  left: 0;
  height: 100%;
  /* width: 100%; */
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  transition: transform 0.3s ease;
}

.item{
  /* width: 200px; */
  /* flex-basis: 50%; */
  height: 100%;
  /* border: 1px dotted black; */
  display: flex;
  justify-content: center;
  align-items: center;

}


/*=========================================  / C A R O U S E L   S L I D E R =======================================================*/




/* =============================== Book card ========================= */



.book-card{
  width: 164px;
  overflow: hidden;
  border-radius: 7px;
  margin: 5px;
  border: 1px solid rgb(214, 214, 214);
  cursor: pointer;
  transition: box-shadow 150ms ease-in-out;
}

.book-card:hover{
    box-shadow: 2px 2px 6px 0px rgba(31, 31, 31, 0.4);
}

.book-cover-img{
  border-radius: 7px 7px 0 0;
  width: 100%;
  height: 218px;
  background-color: rgb(231, 231, 231);
  border-bottom: 1px solid rgb(214, 214, 214);
  overflow: hidden;
  background-size: cover;
  background-position: center center;

}

.book-title-container{
  width: 100%;
  height: 3rem;
  padding: 5px;
  background-color: rgb(250, 250, 250);
  border-radius: 0 0 7px 7px;
}

.book-title-container > p {
  font-size: 0.875rem;
  font-weight: 500;
}

@media only screen and (max-width: 870px) {

  .carousel-slider-container{
    height: 259px;
  }

  .book-card{
      width: 144px;
  }

  .book-cover-img{
  height: 191px;

  }
}


@media only screen and (max-width: 768px) {
  .book-card{
      width: 144px;
  }

  .book-cover-img{
  height: 191px;

  }
}


@media only screen and (max-width: 500px) {

  .carousel-slider-container{
    height: 246px;
  }

  .book-card{
      width: 134px;
  }

  .book-cover-img{
    height: 178px;
  }

  .book-title-container > p {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 450px){
  .button-container{
    width: 34px;
  }
}

@media only screen and (max-width: 414px) {
  .carousel-slider-container{
    height: 228px;
  }

  .book-card{
      width: 120px;
  }

  .book-cover-img{
  height: 160px;

  }

  
}

@media only screen and (max-width: 376px) {
  .carousel-slider-container{
    height: 200px;
  }

  .book-card{
      width: 100px;
  }

  .book-cover-img{
  height: 132px;

  }
}


@media only screen and (max-width: 320px) {
  .carousel-slider-container{
    height: 286px;
  }

  .book-card{
      width: 164px;
  }

  .book-cover-img{
  height: 218px;

  }
}


/* ===============================  / Book card ========================= */


/*=================================== F O O T E R ==================================================*/

/*=================================== M E D I A    Q U E R I E S ==================================================*/



@media only screen and (max-width: 1210px) {
  .content-item-container {
    flex-basis: 50%;
  }
}

@media only screen and (max-width: 1140px) {
  #title > span {
    display: block;
  }
}

@media only screen and (max-width: 900px) {
  /* .banner-section-container-text {
    flex: 1.4;
  } */

  
}

@media only screen and (max-width: 768px) {
  .wrapper {
    width: 92%;
    /* border: 1px solid blue; */
  }
  /* .banner-section-container-text {
    flex: 1.6;
  } */
  .banner{
    width: 92%;
  }
}

@media only screen and (max-width: 640px){
  .custom-shape-divider-top-1629808668{
      display: none;
  }
  .banner-section-container-img{
      display: none;
  }

  .banner-section-container-text{
      padding-right: 0;
  }

  .title-N-logo-container{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px;
  }

  /* .top{
    padding: 6vh 3vh;
  } */

  #banner-logo{
    margin-right: 0;
  }

  #title {
    font-size: 1.6rem;
    text-align: center;
  }

  .main-searchbox-container {
      padding-top: 40px;
      flex-direction: column;
      align-items: stretch;
    }
  
    #main-searchbox-input {
      margin: 0;
      margin-bottom: 10px;
      font-size: 1rem;
    }
  
    #main-search-btn {
      width: 150px;
      font-size: 1rem;
    }

    #description {
      font-size: 0.875rem;
    }
  
    #main-search-btn {
      /* width: 150px; */
      font-size: 1.1rem;
    }
  
    .content-item-container {
      flex-basis: 100%;
    }
}

@media only screen and (max-width: 500px) {
  /* .banner-section-container-img {
    display: none;
  } */
  /* .banner-section-container-text {
    flex: 1;
  } */

  /* .banner-section-container-text {
    padding-right: 0;
  } */

  /* .custom-shape-divider-top-1629808668 {
    display: none;
  } */

  /* .title-N-logo-container {
    flex-direction: column;
    align-items: center;
  } */

  /* #banner-logo {
    width: 100px;
    margin-right: 0;
    margin-bottom: 20px;
  } */

  /* #title {
    font-size: 1.6rem;
    text-align: center;
  } */

  /* .main-searchbox-container {
    padding-top: 40px;
    flex-direction: column;
    align-items: stretch;
  } */

  /* #main-searchbox-input {
    margin: 0;
    margin-bottom: 10px;
    font-size: 1rem;
  } */

  #main-search-btn {
    width: 150px;
    font-size: 1rem;
  }

  /* .banner-bottom-line-container {
    padding-top: 0px;
  } */

  .banner-bottom-line-container > p {
    font-size: 0.75rem;
  }

  .section-title {
    text-align: center;
    padding-left: 0;
  }

  .section-title-container > .view-all-communities{
    display: none;
  }

  .view-all-communities-container-bottom{
    display: flex;
  }

  /* .footer-content > p {
    font-size: 0.7rem;
  } */
}


@media only screen and (max-width: 415px){
  #title {
    font-size: 1.3rem;
  }

  #description {
    font-size: 0.8rem;
  }

  #main-advanced-search-btn{
    font-size: 0.8rem;
    /* margin-top: 3vh; */
  }

  

  .bottom > p {
    font-size: 0.8rem;
  }

  .bold-text {
    font-size: 0.9rem;
  }
  
}

@media only screen and (max-width: 361px) {
  #banner-logo {
    /* width: 70px; */
    /* margin-right: 0; */
    /* margin-bottom: 1vh; */
    /* border: 1px solid red; */
  }

  #title {
    font-size: 1.1rem;
  }

  .title-N-logo-container{
    /* margin-bottom: 3vh; */
  }

  #description {
    font-size: 0.7rem;
  }


  .main-searchbox-container{
    /* padding-top: 3vh; */
    /* max-height: fit-content; */
    /* border: 1px solid rgb(87, 65, 255); */
  }

  .search-N-advanced-search-btn-container{
    /* border: 1px solid red; */
    flex-basis:auto;
    max-height: fit-content;
  }

  #main-searchbox-input {
    font-size: 1rem;
    height: 35px;
    border-radius: 30px;
    /* padding: 7px 30px; */
  }

  #main-search-btn {
    height: 35px;
    border-radius: 30px;
  }

  #main-advanced-search-btn{
    font-size: 0.8rem;
    /* margin-top: 3vh; */
  }

  .banner-bottom-line-container{
    /* padding-bottom: 0; */
    /* margin-top: 5vh; */
  }

  .banner-bottom-line-container > p {
    font-size: 0.7rem;
  }
}


@media only screen and (max-width: 321px) {
  #banner-logo {
    width: 65px;
    /* margin-right: 0; */
    /* margin-bottom: 1vh; */
    /* border: 1px solid red; */
  }

  .bottom > p{
    font-size: 0.7rem;
  }
}


@media only screen and (max-width: 306px) {
  .bottom > p{
    font-size: 0.65rem;
  }

  .bold-text {
    font-size: 0.7rem;
  }
}





/* @media only screen and (orientation: landscape) and (min-height: 480px){
  .main-section-wrapper{
      background-color: rgb(211, 152, 152);
      height: 100vh;
  }
}

@media only screen and (orientation: portrait) and (max-width: 480px){
  .main-section-wrapper{
      min-height: 100vh;
      height: calc(100vh - 60px);
      max-height: 100vh;
      background-color: rgb(175, 255, 220);
  }
} */


/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<, */



@media only screen and (orientation: landscape) and (min-height: 480px) and (max-height:900px){
  .banner{
      /* background-color: rgb(221, 221, 221); */
      height: calc(100vh - 60px);
  }

  .bottom{
    /* background-color: rgb(206, 206, 206); */

  }

  .down-animated-arrow{
    display: flex;
  }
}



@media only screen and (orientation: landscape) and (min-height: 901px){ 
  .banner{
      /* background-color: rgb(221, 221, 221); */
      height: fit-content;
      height: -webkit-fit-content;
      height: -moz-fit-content;
  }

  
}


@media only screen and (orientation: portrait) and (max-width: 480px){
  .banner{
      /* min-height: calc(100vh - 60px); */
      height: calc(100vh - 60px);
      min-height: 508px;
      max-height: 690px;  /* change this value in mobile views- this change max height of banner*/
      /* max-height: calc(100vh - 60px); */
      /* background-color: rgb(236, 236, 236); */
  }
}


@media only screen and (orientation: portrait) and (max-width: 480px) and (max-height: 667px){
  .banner{
      /* min-height: calc(100vh - 60px); */
      height: fit-content;
      height: -webkit-fit-content;
      height: -moz-fit-content;
      /* min-height: 600px; */
      /* max-height: 750px; */
      /* max-height: calc(100vh - 60px); */
      /* background-color: rgb(236, 236, 236); */
  }
}

@media only screen and (min-width: 500px){
  .banner{
      min-height: 600px;
  }
}



@media only screen and (max-width: 321px){
  .title-N-logo-container{
      margin-bottom: 10px;
  }

  /* #description{
      font-size: 0.8rem;
  } */
}