.footer {
  background-color: #353535;
  min-height: 150px;
  display: flex;
  align-items: center;
}

.footer-content > p {
  color: white;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
}

.section {
  width: 100%;
}

.wrapper {
  width: 80%;
  max-width: 1000px;
  height: 100% !important;
  margin: 0 auto;
  height: fit-content;
  /* border: 1px dotted red; */
  transition: all 0.2s ease;
}
